@import url("./fonts.css");

/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

/* Root Variables */
:root {
  --color-primary: #219f95;
  --color-secondary: #234894;
  --color-white: #ffffff;
  --color-black: #1e1e1e;
  --color-gray: #696969;
  --color-blue: #afcedd;
}

/* Body */
body {
  font-family: sans-serif;
}

body,
* {
  font-family: Vazirmatn;
}

h1,
h2,
h3 {
  color: var(--color-black);
  font-weight: 900;
}

h1 {
  font-size: 2rem;
}

h3 {
  margin-right: 1rem;
}

html {
  font-size: 62.5%;
}

/* Title */
.title {
  margin: 4rem 1rem 4rem 0;
  font-size: 3rem;
}

/* Main */
.ticket__main {
  max-width: 1200px;
}

/* Container */
.container {
  width: 100vw;
  margin: 0 auto;
}

/* Badge */
.badge {
  display: inline-block;
  background-color: var(--color-blue);
  color: var(--color-secondary);
  padding: 1rem 2.5rem;
  border-radius: 1rem;
  font-size: 3rem;
}

/* Button */
.btn {
  cursor: pointer;
  padding: 2rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  border: 0;
  outline: 0;
  border-radius: 1rem;
  padding: 2.1rem 2rem;
  font-size: 2rem;
}

/* Admin Panel */
.admin--panel {
  display: grid;
  gap: 3rem;
}

@media screen and (min-width: 600px) {
  .admin--panel {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .admin--panel {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Client Ticket */
.client__ticket {
  height: max-content;
}

.client__ticket img {
  height: 4rem;
  width: 4rem;
  object-fit: cover;
  border-radius: 1rem;
}

/* Ticket Detail */
.ticket__detail {
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.ticket__detail p {
  color: var(--color-gray);
}

/* Text */
.text {
  color: var(--color-secondary);
  font-size: 2rem;
  font-weight: 500;
}

/* Ticket Header and Footer */
.ticket__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ticket--right {
  display: flex;
  align-items: center;
  width: 50%;
  gap: 1rem;
}

.ticket__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ticket--right {
  display: flex;
  align-items: center;
  width: 50%;
}
